body{
    font-family: "roboto", sans-serif;
    width: 100%;
}
/*Header*/

#container{
    margin-left: 30px;
    margin-right: 30px;
}
header{
    
}

#nav-bar-inscription{
    display: flex;
    flex-direction:row-reverse;
    justify-content:flex-start;
    align-items: center;

}
#nav-bar{
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items: center;
}
#logo {
    height: 40px;
    position:absolute;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    color: #0065FC;
}
nav li{
    margin: 10px 10px 10px 10px;
    font-size: 16px;
}

#inscription{
    text-decoration: none;
    color:#0065F ;
}

/*Présentation, recherche, filter et information*/
#nav-accomodation{
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 30px;
    text-decoration: none;
}

#nav-accomodation :visited{
    color:green;
}
#nav-activity{
    text-decoration: none;
}
#nav-activity:visited{
    color: green;
}
h1{
    font-size: 20px;
}
#presentation-research{
    margin : 0;
    display: flex;
    justify-content: flex-start;
    border: none;
}
#mapmarker{
    background-color :#F2F2F2;
    border: 2px #F2F2F2 solid;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}

#box-research{
    border-bottom: 1px #F2F2F2 solid;
    border-right: 0px;
    border-top: 1px #F2F2F2 solid;
    border-left: 0px;
    padding-left: 10px;
    }

#research {
    border: none;
    border-radius: 0 10px 10px 0;
    background-color:#0065FC;
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#research-button{
    opacity: 0;
}
#presentation-filter{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: -40px;
}

#text-filter{
    font-weight: 600;
    font-size: 18px;
}
.iconfamily{
    margin : 0 20px 0 20px;
    border-top : 2px solid #F2F2F2;
    border-right : 2px solid #F2F2F2;
    border-bottom : 2px solid #F2F2F2;
    border-radius: 19px;
    height: 36px;
    padding-right: 15px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
.iconfamily:hover{
    text-decoration: underline;
    color: lightsalmon;
}

#iconmoney{
    border : 3px solid #DEEBFF;
    border-radius: 19px;
    background-color: #DEEBFF;
    color: #0065FC;
    height: 36px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
    
}

#iconchild{
    border : 3px solid #DEEBFF;
    border-radius: 19px;
    background-color: #DEEBFF;
    color: #0065FC;
    height: 36px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
}
#iconheart{
    border : 3px solid #DEEBFF;
    border-radius: 19px;
    background-color: #DEEBFF;
    color: #0065FC;
    height: 36px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
}
#iconanimal{
    border : 3px solid #DEEBFF;
    border-radius: 19px;
    background-color: #DEEBFF;
    color: #0065FC;
    height: 36px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
}

#filter{
    margin-right: 20px;
}

.filterfamily{
    border : 2px #DEEBFF solid;
    border-radius: 15px;
}

#information{
    display: flex;
    align-items: center;
}

#icon-information{
    height: 25px;
    width: 25px;
    border: 2px solid #F2F2F2;
    border-radius: 18px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    color: #0065FC;
    margin-right: 10px;
    
}
/*Hébergement à Marseille*/
#big-box-accomodation{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    width: 100%;
    margin-bottom: 50px;
}
#box-accomodation{
    background-color:#F2F2F2;
    padding: 20px;
    border-radius: 15px 15px 15px 15px;
    width: 60%;
}
#box-accomodation:visited{
    color: green;
}
#container-hotel{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    
    
}
.stars{
    display: flex;
    justify-content:start;
    list-style: none;
    padding: 0px;
    font-size: 12px;
}

.star-blue{
    color:#0065FC;
}

.star-grey{
    color: #F2F2F2;
}

.text-accomodation{
    margin-left:8px;    
}

.text-hotel{
    margin-top: 6px;
    margin-bottom: 6px;
}

.link{
    text-decoration: none;
}
.accomodation-card{
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    box-shadow:6px 6px 6px #DCDCDC;
    font-size: 13px;
    width: 250px;
    height: 200px;  
    padding: 5px 5px 15px 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.accomodation-card img{
    width: 100%;
    height: 60%;
    border-radius: 15px 15px 0 0;
    margin: 0px;
    object-fit: cover;
}


#text-more{
    font-weight: 600;
    font-size: 18px;
}
/*Hébergements les plus populaires*/
aside{
    background-color:#F2F2F2;
    width: 30%;
    padding : 20px;
    border-radius: 15px 15px 15px 15px;
    margin-left: 20px;
}
aside:visited{
    color: green;
}
#icon-chart{
    font-size: 20px;
}
#head-popular{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-accomodation-popular{
    margin-left:8px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-hotel-popular{
    margin-top: 6px;
    margin-bottom: 6px;
}
.stars-popular{
    display: flex;
    justify-content:start;
    list-style: none;
    padding: 0px;
    color:#0065FC;
    font-size: 12px;
}
.card-popular{
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    background-color: white ;
    box-shadow:6px 6px 6px  #DCDCDC;
    font-size: 13px;
    width: 90%;
    height: 150px;
    padding: 5px 5px 5px 5px;
    display: flex;
}

.card-popular img{
    width: 34%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    margin-right: 10px;
    object-fit: cover;
}
/*Activités à Marseille*/
#activity{
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
}
#box-activity{
    display: flex;
    justify-content: space-between;
}

#minibox-one{
    display: flex;
    flex-direction: column;
    
}

#minibox-two{
    display: flex;
    flex-direction: column;
}

.card-activity{
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    background-color: white ;
    font-size: 12px;
    width: 300px;
    height: 400px;
    padding: 5px 5px 5px 5px;
    box-shadow:6px 6px 6px  #F2F2F2;
    margin: 10px;
}
.card-activity img{
    width: 300px;
    height: 350px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.fortdepomegues-card{
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    background-color: white ;
    font-size: 12px;
    width: 300px;
    height: 200px; 
    padding: 5px 5px 5px 5px;
    box-shadow:6px 6px 6px  #F2F2F2;
    margin: 10px;
}
.fortdepomegues-image{
    width: 300px;
    height: 150px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.ilesdufrioul-card{
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    background-color: white ;
    font-size: 12px;
    width: 300px;
    height: 165px;
    padding: 5px 5px 5px 5px;
    box-shadow:6px 6px 6px  #F2F2F2;
    margin: 10px;
}
.ilesdufrioul-image{
    width: 300px;
    height: 120px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.notredamedelagarde-card{
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    background-color: white ;
    font-size: 12px;
    width: 300px;
    height: 182px; 
    padding: 5px 5px 5px 5px;
    box-shadow:6px 6px 6px  #F2F2F2;
    margin: 10px;
}
.notredamedelagarde-image{
    width: 300px;
    height: 130px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.parclongchamp-card{
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    background-color: white ;
    font-size: 12px;
    width: 300px;
    height: 182px; 
    padding: 5px 5px 5px 5px;
    box-shadow:6px 6px 6px  #F2F2F2;
    margin: 10px;
}
.parclongchamp-image{
    width: 300px;
    height: 130px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
/*Footer*/
footer{
    width: 100%;
    background-color:#F2F2F2;
    display: flex;
    justify-content:space-around;
    margin-top: 40px;
    padding-top: 25px;    
}

.about{
    list-style: none;
}

footer ul{
    list-style: none;
    margin-left: -40px;
    opacity: 0.7;
    font-size: 15px;
    margin-top: 30px;
}

footer li{
    margin-top: 10px;
}

/*Règles pour Smartphone à partir d'ici*/

@media all and (max-device-width: 480px)
{
    #container{
        width: auto;
        margin:none;
    }

    header{
        
    }

    #nav-bar-inscription{
        display: flex;
        flex-wrap: wrap;
    }
    
    #nav-bar{
        width:100%;
        padding: 0px;
        margin:0px
    }
    
    nav ul{
        width: 100%;
        justify-content: space-between;
        margin:0px;
        padding-left: 0px;
        margin-top: 20px;
    }
    #inscription{
        display: flex;
        justify-content:flex-end;
        margin-top: 10px;
        font-weight: bold;
        color: #0065FC;
    }
    #nav-accomodation{
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        text-decoration: none;
        padding-top: 0px;
        border-top: none;
        width: 100%;
        margin-left: 40px;
    }
    
    #nav-activity{
        border-bottom: 2px solid #F2F2F2;
        text-decoration: none;
        width: 100%;
        margin-right: 50px;
    }
    #research{
        opacity: 0;
    }

    #research-button{
        border: none;
        border-radius: 0 10px 10px 0;
        background-color:#0065FC;
        color: white;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #presentation-filter{
        flex-wrap: wrap;
    }

    #text-filter{
        margin-right: 200px;
    }
    .iconfamily{
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 0px;
    }
    #big-box-accomodation{
        flex-wrap: wrap;
        margin-right: 0px;
    }
    #box-accomodation{
        order:2;
    }
    aside{
        width: 100%;
        
    }
    .card-popular{
        margin:10px
    }


    .box-accomodation-popular{
        width: 100%;
        border-radius: none;
        margin-left: 0px;
        padding:0px
    }

    #box-activity{
        display: flex;
        flex-direction: column;
    }

    footer{
        flex-direction: column;
    }
}